@charset "utf-8";

/* Theme Color */
.property-block-three .property-info li .icon,
.property-block-three .lower-content h3 a:hover,
.agent-widget .social-links li a,
.agent-widget .social-links li,
.agent-widget .info-box .designation,
.property-search-form.style-four .ui-button .ui-icon:before,
.main-footer .contact-list li a:hover,
.contact-page-section .form-column .title h2,
.testimonial-block .content-box .designation,
.agent-detail .agent-info td a:hover,
.agents-section-two .owl-next,
.agents-section-two .owl-prev,
.agent-block-two .contact-info li .icon,
.fun-facts-section .column .icon-box,
.what-we-do .image-column .image figcaption .icon,
.feature-block-three h3 a:hover,
.feature-block-three .inner-box .icon,
.feature-block-two h4 a:hover,
.main-footer .list li:before,
.feature-block-two .inner-box:hover .icon,
.gallery-section .filters li.active,
.gallery-section .filters li:hover,
.modern-property .property-info li .icon,
.modern-property .location .icon,
.service-block .inner-box:hover h4 a,
.service-block .inner-box:hover .icon,
.property-detail .info-table td a:hover,
.property-detail .features-list li:before,
.about-agent-widget .designation,
.about-agent-widget .contact-info li a:hover,
.property-info-box .price-column .price,
.property-info-box .property-info li i,
.property-section-three .filters .filter.active,
.property-block-two .property-price .price,
.property-block-two .location .icon,
.property-block-two h3 a:hover,
.property-block-two .property-info li .icon,
.property-carousel .owl-next:hover,
.property-carousel .owl-prev:hover,
.property-block .property-price .price,
.property-block .location .icon,
.property-block h3 a:hover,
.property-block .property-info li .icon,
.about-section .feature-block h4 a:hover,
.about-section .feature-block .icon,
.property-search-section-three .content-box h2 span,
.banner-section-two .content-box .price,
.banner-section .owl-next:hover,
.banner-section .owl-prev:hover,
.testimonial-block .content-box .rating span,
.banner-section .content-box .address .icon,
.banner-section .content-box .property-info li .icon,
.banner-section .content-box .price,
.play-now .icon,
.page-breadcrumb li a:hover,
.page-breadcrumb li:after,
.main-footer .list li a:hover,
.popular-posts .post h4 a:hover,
.page-breadcrumb li,
.mobile-menu .navigation li:hover > a,
.mobile-menu .navigation li.current > a,
.nav-outer .mobile-nav-toggler,
.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.review-area .review-box .date i,
.review-area .review-box .rating,
.review-area .review-box .rating a:hover,
.sticky-header .main-menu .navigation > li.current-menu-item > a,
.header-style-three .info-box li a:hover,
.header-style-three .info-box .icon-box,
.review-area .review-box .date,
.header-style-two .main-menu .navigation > li.dropdown:hover > a:before,
.header-style-two .main-menu .navigation > li.current.dropdown > a:before,
.header-style-two .main-menu .navigation > li:hover > a,
.header-style-two .main-menu .navigation > li.current > a,
.header-style-two .info-box li a:hover,
.header-style-two .info-box .icon-box,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a,
.main-header .login-signup li a:hover,
.social-icon-one li a:hover span,
.testimonial-block-two .name,
.testimonial-block-two .rating span,
.blog-post-controls h5 a:hover,
.news-block-two .lower-content h3 a:hover,
.recent-properties .post:hover h3 a,
.blog-detail .post-share-options .tags a:hover,
.main-header .top-left .contact-list li a:hover,
.main-header .top-left .contact-list li i,
.list-style-one li:before,
.main-footer .footer-bottom .footer-nav ul li a:hover,
.social-icon-two li a:hover span,
.main-footer .contact-list li span,
.btn-style-four:hover,
.comments-area .comment-info .comment-time,
.latest-news .post:hover h3 a,
.recent-properties .post .location,
.btn-style-two:hover,
.error-section .sec-title h1,
.sidebar .search-box .form-group button,
.theme_color,
a{
	color: #FF4136;
}


/*=== Background Color ===*/

.login-form,
.tag-list li a:hover,
.recent-properties .post-thumb .status,
.contact-page-section .contact-column .inner-column,
.property-search-form.style-four .range-slider-one .ui-slider .ui-slider-range,
.main-footer.style-two .footer-bottom,
.main-footer .footer-column .widget-title:after,
.news-block-two .image-box .overlay-box a,
.news-section .owl-next:hover,
.news-section .owl-prev:hover,
.testimonial-section-two .owl-dot:hover,
.testimonial-section-two .owl-dot.active,
.testimonial-section .owl-dot,
.agents-section-two,
.pricing-table .price-box,
.agents-section .owl-next:hover,
.agents-section .owl-prev:hover,
.why-choose-us .image-box .contact-info,
.gallery-item .overlay-box .link,
.modern-properties .owl-dot:hover,
.modern-properties .owl-dot.active,
.features-properties,
.modern-property .property-options li:hover a,
.modern-property .status,
.popular-item .overlay-box,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.property-info-box .image-box .status,
.review-area .review-box .thumb-box .reply-btn,
.property-block-two .inner-box:hover .image-box .for,
.property-carousel .owl-next,
.property-carousel .owl-prev,
.property-block .inner-box:hover .image-box .for,
.about-section .about-block .icon,
.property-search-form-two .title,
.ui-state-active,
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover,
.property-search-tabs .tab-buttons .tab-btn.active-btn,
.review-comment-form .form-group input:focus,
.review-comment-form .form-group textarea:focus,
.property-search-section,
.banner-section-two .owl-next:hover,
.banner-section-two .owl-prev:hover,
.page-title h1:after,
.category-list li a:hover,
.mobile-menu .close-btn,
.header-style-three .header-top,
.header-style-two .logo-outer .logo,
.main-header .login-signup,
.comments-area .comment .comment-reply,
.btn-style-two,
.btn-style-one:before{
	background-color: #FF4136;
}


/*Border Color*/
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.comment-form .form-group input:focus,
.comment-form .form-group textarea:focus,
.sidebar .search-box .form-group input:focus,
.agent-from-widget .form-group input:focus,
.agent-from-widget .form-group textarea:focus,
.main-footer .subscribe-form .form-group input:focus,
.blog-detail blockquote,
.agent-block .inner-box:hover:before,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.ui-state-active,
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover,
.sec-title .devider span,
.sec-title .devider:before,
.sec-title .devider:after,
.main-menu .navigation > li .mega-menu-bar .column > ul > li > a:hover,
.main-header .language .dropdown-menu > li > a:hover,
.header-style-three .language .dropdown-menu,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.main-header .search-box-outer .dropdown-menu,
.main-menu .navigation > li > ul > li  > ul > li > a:hover,
.main-menu .navigation > li > ul > li:hover > a{
	border-color: #FF4136;
}



/*Border bottom Color */

.why-choose-us .image-box .contact-info:before,
.modern-property .status:before{
	border-bottom-color: #FF4136
}

@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggle{
		border-color:#FF4136;
	}

	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navigation > li .mega-menu-bar .column > ul > li > a,
	.main-menu .navigation > li .mega-menu-bar .column > ul > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background-color: #FF4136;
	}
	
}